.icon-search{
    position: absolute;
    margin-top: -52px;
    margin-left: 12px;
}
.container-searchbar{
    position: relative;
    color: #333;
}
.container-sort{
    position: relative;

}
.icon-filter{
    position: absolute;
    margin-top: -32px;
    margin-left: 12px;
    color: #333;
}